.container {
  background: #F3F8F2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100wh;
  height: 100vh;
  font-family: 'Quicksand', sans-serif;
}