.container {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 28px;
  width: 50%;
  color: #E0CCCC;
  display: flex;
  justify-content: space-around;
  margin: 30px 50px;
  text-decoration: underline;
}

.tab {
  cursor: pointer;
}